@import "wq/jquery-mobile";
@import "compass/css3";

/* Dark purple swatch */
$a-darker:  #16141a;
$a-dark:    #7a6b8f;
$a-light:   #98a;
$a-lighter: #335;

$s-dark:  #667b7c;
$s-light: #539aa3;


@include jquery-mobile-theme(
  $theme:       a,
  $bar-bg:      mix($a-dark, $a-darker),
  $bar-text:    #fff,
  $bar-shadow:  false,

  $page-shadow:  false,

  $up-bg:       mix($a-dark, $a-darker),
  $up-border:   $a-darker,
  $up-text:     #fff,
  $up-shadow:   false,

  $down-bg:     mix($a-light, $a-lighter),
  $down-border: $a-darker,
  $down-text:   #fff,
  $down-shadow: false,

  $hover-bg:     mix($a-light, $a-lighter),
  $hover-border: #001,
  $hover-text:   #fff,
  $hover-shadow: false,

  $active-border: #2395A5,
  $active-bg:     mix($s-dark, $s-light),
);

/* Aqua swatch */
$b-darker  = #b7f1f1;
$b-dark    = #7a9292;
$b-light   = #9bb;
$b-lighter = #dff;

@include jquery-mobile-theme(
  $theme:       b,

  $bar-bg:      mix($b-dark, $b-darker),

  $up-bg:       mix($b-dark, $b-darker),
  
  $down-bg:     mix($b-light, $b-lighter),
  
  $hover-bg:     mix($b-light, $b-lighter),

  $active-border: #2395A5,
  $active-bg:     mix($s-dark, $s-light),
);
  
.highlight-box {
    background-color: mix($b-light, $b-lighter);
    border: 2px solid $b-light;
}

@include jquery-mobile-theme($theme: c);
@include jquery-mobile-theme($theme: d);
@include jquery-mobile-theme($theme: e);

@include jquery-mobile-global(
  $round:         1.2em,
);
