@import "wq/jquery-mobile";
@import "compass/css3";

/* Dark purple swatch */
$a-dark: mix(#4E3878, #544A63);
$a-light: #6F519E;

body.ui-overlay-a {
   background-color: #f9f9f9;
}

@include jquery-mobile-theme(
  $theme:       a,
  $bar-bg:      $a-dark,
  $bar-text:    #fff,
  $bar-shadow:  false,

  $page-shadow: false,
  $page-bg:     #fff,

  $up-bg:       $a-dark,
  $up-border:   mix($a-dark, black),
  $up-text:     #fff,
  $up-shadow:   false,

  $down-bg:     $a-light,
  $down-border: $a-dark,
  $down-text:   #fff,
  $down-shadow: false,

  $hover-bg:     $a-light,
  $hover-border: #001,
  $hover-text:   #fff,
  $hover-shadow: false,

  $active-border: $a-light,
  $active-bg:     mix($a-light, white),
  $active-shadow: false,
);

/* Aqua swatch */
$b-dark    = #2F7470;
$b-light   = mix(#9DD4D8, #99C2C2);

@include jquery-mobile-theme(
  $theme:       b,

  $bar-bg:      $b-dark,
  $bar-shadow:  false,
  $page-shadow: false,

  $up-bg:       $b-light,
  $up-shadow:   false,
  
  $down-bg:     mix($b-light, white),
  $down-shadow: false,
  
  $hover-bg:     mix($b-light, white),
  $hover-shadow: false,

  $active-border: $b-dark,
  $active-bg:     $b-dark,
  $active-shadow: false,

);
.ui-bar-b .ui-navbar .ui-btn {
  font-size: 14px !important;
  font-variant: all-small-caps;
}
  
.highlight-box {
    background-color: mix($b-light, white);
    border: 2px solid $b-light;
}

@include jquery-mobile-theme($theme: c);
@include jquery-mobile-theme($theme: d);
@include jquery-mobile-theme($theme: e);

$font: "Titillium Web", sans-serif;
@include jquery-mobile-global(
  $round:         1.2em,
  $font: $font
);
