<img src="/images/512/{{id}}.png" alt="{{id}}" class="logo">

<div class="github">
   <a href="http://github.com/wq/{{id}}">View on GitHub</a><br>
<iframe src="http://ghbtns.com/github-btn.html?user=wq&repo={{id}}&type=fork&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="76" height="20"></iframe>
<iframe src="http://ghbtns.com/github-btn.html?user=wq&repo={{id}}&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="76" height="20"></iframe>
</div>
