.short {
    display: none !important;
}
pre {
    border: 1px solid #ccc;
    background-color: #f6fff6;
    padding: 0.5em;
}
code {
    color: #101;
}
.logo {
    width: 25%;
    float: left;
    margin-right: 1em;
}
.abstract {
    border: 1px solid #98b;
    background-color: #f5f0ff;
    padding: 1em;
    margin: 0;
    font-size: 0.9em;
}
.copyright {
    position: absolute;
    left: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    border-top: 1px solid #98b;
    color: #768;
    text-align: center;
    font-size: 0.8em;
    padding-top: 0.5em;
}
.ui-page {
    padding-bottom: 2em;
}
.github {
    float:right;
    text-align: center;
    border: 1px solid #ccc;
    background-color: white;
    padding: 0.5em;
}
.github a {
    text-decoration: none !important;
}
.github iframe {
    display: inline-block;
}
.ui-header.ui-bar-d .ui-link {
    text-decoration: none !important;
}
table {
    border-spacing: 0;
}
th {
    border-bottom: 2px solid #CDE;
}
td {
    border-bottom: 1px solid #CDE;
    padding: 10px;
}

a.github-src, a.github-file {
  background: #cee;
  color: #606;
  border-radius: 0.5em;
  border: 1px solid #abb;
  padding: 0.2em;
  text-decoration: none;
  text-shadow: none;
}
a.github-file {
  position: absolute;
  top: 8em;
  right: 1em;
}
h1, h2, pre {
  clear: both;
}
h1.example {
  clear: none;
}
table.modules {
  float: right;
  margin: 1em;
}
table.modules td {
  text-align: center;
}
table.modules a {
  text-decoration: none;
}
table.modules img {
  width: 40px;
  height: 40px;
  margin: -10px;
}

a[rel="external"]:after {
  background: url("external.png") no-repeat 0 45% transparent;
  content: "";
  margin-left: 2px;
  padding-left: 12px;
}
div[data-interactive] {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #fff;
  border: 1px solid #ccc;
}
blockquote {
  border: 1px solid #ccc;
  background-color: #fffff6;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;
}
.incomplete a, .incomplete span {
  color: #999 !important;
}
