<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h3>{{title}}</h3>
      </div>
      {{>menu}}
      <div data-role="header" data-theme="d">
        <div>
          <a href="/docs/">Docs</a> &gt;
          <a href="/docs/?section={{type_id}}">{{type_label}}</a>
        </div>
      </div>
      <div data-role="content">
        {{{html}}}
      </div>
{{>footer}}
