<!DOCTYPE html>
<html>
  <head>
    <title>Documentation</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h3>Documentation</h3>
      </div>
      {{>menu}}
      <div data-role="content">
        <ul data-role="listview" data-filter="true" 
          data-theme="c" data-divider-theme="a">
        {{#list}}
          {{#section}}
          <li data-role="list-divider">{{label}}</li>
          {{/section}}
          {{^section}}
          <li {{#incomplete}} class="incomplete" data-icon="minus"{{/incomplete}}
              data-filtertext="{{type_id}} {{id}} {{type_label}} {{label}}">
            <a href="/docs/{{id}}">
              {{label}}
              {{#incomplete}}<span class="ui-li-count">WIP</span>{{/incomplete}}
            </a>
          </li>
          {{/section}}
        {{/list}}
        </ul>
        <div class="ui-content"></div>
      </div>
{{>doc_footer}}
