<!DOCTYPE html>
<html>
  <head>
    <title>{{label}}</title>
    {{>head}}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@wq_framework" />
    <meta name="twitter:creator" content="@sasheppard" />
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    {{#image}}
    <meta name="twitter:image" content="https://wq.io{{image}}" />
    {{/image}}
  </head>
  <body>
    <div data-role="page" class="ui-page" data-docid="{{id}}">
      <div data-role="header">
        {{>home}}
        <h3>{{label}}</h3>
      </div>
      {{>menu}}
      <div data-role="header" data-theme="d">
        {{>versions}}
        <div>
          <a href="{{>doc_base}}/">Docs</a> &gt;
          <a href="{{>doc_base}}/?chapter_id={{chapter_id}}">{{chapter_label}}</a>
        </div>
      </div>
      <div data-role="content">
        {{#markdown}}
          {{{html}}}
          {{#not_found}}
          <h1>{{label}}</h1>
          <p>This doc page was not available in this version of wq.  It is, however available in the latest version,
            {{#latest_version}}
            <a href="/{{name}}/docs/{{id}}">{{title}}</a>
            {{/latest_version}}
          </p>
          {{/not_found}}
        {{/markdown}}
        <div class="ui-grid-a ui-responsive">
          <div class="ui-block-a">
            {{#prev_id}}
            <nobr>
            &lArr; <a href="{{>doc_base}}/{{prev_id}}">{{prev_label}}</a>
            </nobr>
            {{/prev_id}}
          </div>
          <div class="ui-block-b" style="text-align:right">
            {{#next_id}}
            <nobr>
            <a href="{{>doc_base}}/{{next_id}}">{{next_label}}</a> &rArr;
            </nobr>
            {{/next_id}}
          </div>
        </div>
        <div class="ui-content">
          <p></p>
        </div>
      </div>
{{>doc_footer}}
