<!DOCTYPE html>
<html>
  <head>
    <title>{{label}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page" data-docid="{{id}}">
      <div data-role="header">
        {{>home}}
        <h3>{{label}}</h3>
      </div>
      {{>menu}}
      <div data-role="header" data-theme="d">
        <div>
          <a href="/docs/">Docs</a> &gt;
          <a href="/chapters/{{chapter_id}}/docs">{{chapter_label}}</a>
        </div>
      </div>
      <div data-role="content">
        {{{html}}}
        {{#is_authenticated}}
        <a href="http://prose.io/#wq/wq/edit/master/docs/{{type_id}}/{{id}}.md" rel="external">Edit this Page</a>
        {{/is_authenticated}}
      </div>
{{>doc_footer}}
