<!DOCTYPE html>
<html>
  <head>
    <title>Examples</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h3>Examples</h3>
      </div>
      {{>menu}}
      <div data-role="content">
        <ul data-role="listview" data-divider-theme="a" data-filter="true">
          <li data-role="list-divider">Example Projects</li>
        {{#list}}
          <li><a href="/examples/{{id}}">
            {{#icon_url}}
            <img src="{{icon_url}}" class="ui-li-icon">
            {{/icon_url}}
            {{title}}
            <span class="ui-li-count">
              {{#app_version}}&check; wq.app{{/app_version}}
              {{#db_version}}&check; wq.db{{/db_version}}
              {{#io_version}}&check; wq.io{{/io_version}}
              {{#vera_version}}&check; vera{{/vera_version}}
              {{#repo_url}}&check; on github{{/repo_url}}
            </p>
          </a></li>
        {{/list}}
        </ul>
      </div>
      <div class="ui-content"></div>
{{>footer}}
