<!DOCTYPE html>
<html>
  <head>
    <title>Examples</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h3>Examples</h3>
      </div>
      {{>menu}}
      <div data-role="content">
        <center>
          Below is a select sample of sites and apps using all or parts of wq.
          <br>
          Open-source projects are also listed at
          <a href="https://github.com/powered-by-wq" rel="external">
            github.com/powered-by-wq
          </a>.
          <br>
          <a href="/community">Contact Us</a> to have your wq-powered site listed!
        </center>
        <ul data-role="listview" 
          data-theme="c" data-divider-theme="a" data-filter="true">
          <li data-role="list-divider">Example Projects</li>
        {{#list}}
          <li><a href="/examples/{{id}}">
            {{#icon}}
            <img src="/media/{{icon}}">
            {{/icon}}
            {{^icon}}
            <img src="/images/empty.png">
            {{/icon}}
            <h3>{{title}}</h3>
            <span class="ui-li-aside">
              {{#modules}}
                &check; {{.}}
              {{/modules}}
            </span>
            <p class="ui-li-desc">{{description}}</p>
          </a></li>
        {{/list}}
        </ul>
      </div>
      <div class="ui-content"></div>
{{>footer}}
