<!DOCTYPE html>
<html>
  <head>
    <title>wq: an open source framework for citizen science, VGI, and crowdsourcing</title>
    {{>head}}
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:site" content="@wq_framework" />
    <meta name="twitter:title" content="wq framework for citizen science, VGI, and crowdsourcing" />
    <meta name="twitter:creator" content="@sasheppard" />
    <meta name="twitter:image:src" content="https://wq.io/media/images/wq-stack.png">
  </head>
  <body>
    <div data-role="page" class="ui-page" data-url="/" id="index-page">
      <div data-role="header">
        <h3>wq: an open source framework <span style="display:none">for citizen science, VGI, and crowdsourcing</span></h3>
      </div>
      {{>menu}}
      <div data-role="content">
        <img src="/images/512/wq.png" alt="wq" class="logo">
        <p>
          <strong>wq</strong> is a modular, open source framework for building custom
          offline-capable mobile-friendly web apps for
          <strong>citizen science</strong>,
          <strong>crowdsourcing</strong>, and
          <strong>volunteered geographic information</strong>.
        </p>
        <p>
          <a href="/1.0/docs/intro">More about wq</a>
        </p>

        <p>
          wq is <a href="/license">open source</a> and extends a number of existing 
          open source web frameworks, including 
          <strong>Django REST Framework</strong>, 
          <strong>jQuery Mobile</strong>, and
          <strong>Leaflet.</strong>
        </p>

        <div class="github" style="float:right">
          <iframe src="//ghbtns.com/github-btn.html?user=wq&repo=wq&type=fork&count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="85" height="20"></iframe>
          <iframe src="//ghbtns.com/github-btn.html?user=wq&repo=wq&type=watch&count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="85" height="20"></iframe>
        </div>
        <p>
          <a href="https://github.com/wq/" rel="external">Visit wq on GitHub</a>
        </p>


        <p class="ui-content ui-corners-all highlight-box">
           <b>wq 1.1.0</b> was released on July 12th, 2018!<br>
           <a href="/1.1/docs/setup">Install</a> &bull; <a href="https://github.com/wq/wq/releases">View Release Notes</a>
        </p>

        <ul data-role="listview" data-theme="c" data-divider-theme="a"
            data-inset="true" style="clear:both">
          <li data-role="list-divider">Modules</li>
          {{#list}}
          {{#submodule}}
          <li><a href="/{{id}}">
             <img src="/images/80/{{id}}.png">
             <h3>{{title}}</h3>
             <p>{{{description}}}</p>
             {{#latest_version}}
             <span class="ui-li-count">{{latest_version}}</span>
             {{/latest_version}}
          </a></li>
          {{/submodule}}
          {{/list}}
        </ul>
{{>footer}}
