<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{>head}}
    {{#submodule}}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@wq_framework" />
    <meta name="twitter:creator" content="@sasheppard" />
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:image" content="http://wq.io/images/512/{{id}}.png" />
    {{/submodule}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h3>{{title}}</h3>
      </div>
      {{>menu}}
      <div data-role="content">
        {{#submodule}}{{>github}}{{/submodule}}
        {{{html}}}
      </div>
{{>footer}}
