<!DOCTYPE html>
<html>
  <head>
    <title>wq: an open source framework for citizen science, VGI, and crowdsourcing</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page" data-url="/" id="index-page">
      <div data-role="header">
        <h3>wq: an open source framework <span style="display:none">for citizen science, VGI, and crowdsourcing</span></h3>
      </div>
      {{>menu}}
      <div data-role="content">
        <img src="/images/512/wq.png" alt="wq" class="logo">
        <div class="github">
          <a href="http://github.com/wq/">wq on GitHub</a><br>
          <iframe src="http://ghbtns.com/github-btn.html?user=wq&repo=wq&type=fork&count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="85" height="20"></iframe>
          <iframe src="http://ghbtns.com/github-btn.html?user=wq&repo=wq&type=watch&count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="85" height="20"></iframe>
        </div>
        <p>
          <strong>wq</strong> is a modular framework for building custom
          offline-capable desktop and mobile web apps  for
          <strong>volunteered geographic information</strong>,
          <strong>citizen science</strong>,
          and <strong>crowdsourcing</strong>.
        </p>

        <p>
          wq is <a href="/license">open source</a> and extends a number of existing 
          open source web frameworks, including 
          <strong>Django</strong>, 
          <strong>jQuery Mobile</strong>,
          and <strong>RequireJS</strong>.
        </p>

        <p class="ui-content ui-corners-all ui-btn-hover-b">
           <b>wq 0.6.1</b> was released on July 8th, 2014!<br>
           <a href="/docs/setup">Install</a> &bull; <a href="https://github.com/wq/wq/releases">View Release Notes</a>
        </p>

        <ul data-role="listview" data-theme="c" data-divider-theme="a"
            data-inset="true" style="clear:both">
          <li data-role="list-divider">Submodules</li>
          {{#list}}
          {{#submodule}}
          <li><a href="/{{id}}">
             <h3>{{title}}</h3>
             <img src="/images/80/{{id}}.png">
             <p>{{{description}}}</p>
             {{#latest_version}}
             <span class="ui-li-count">{{latest_version}}</span>
             {{/latest_version}}
          </a></li>
          {{/submodule}}
          {{/list}}
        </ul>
{{>footer}}
