<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h3>{{short_title}}</h3>
      </div>
      {{>menu}}
      <div data-role="content">
        <h3>{{full_title}}</h3>
        <h4>
          {{authors}}<br>
          <a href="{{conference_url}}">{{conference}}</a><br>
          {{date}}</h4>
        </h4>
        {{{description}}}
        <blockquote class="abstract">
          <h4>Abstract</h4>
          <p>{{abstract}}</p>
        </blockquote>
        <ul data-role="listview" data-inset="true">
        {{#relationships}}
          <li><a href="/media/papers/{{item_label}}" rel="external">{{type_label}}</a></li>
        {{/relationships}}
        {{#identifiers}}
        {{^is_primary}}
          <li><a href="{{url}}" rel="external">{{authority_label}}</a></li>
        {{/is_primary}}
        {{/identifiers}}
        </ul>
     </div>
{{>footer}}
