<!DOCTYPE html>
<html>
  <head>
    <title>Research</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h3>Research</h3>
      </div>
      {{>menu}}
      <div data-role="content">
        <ul data-role="listview" data-inset="true" data-divider-theme="a">
          <li data-role="list-divider">Published Papers</li>
        {{#list}}
          <li><a href="/research/{{id}}">
            <img src="/files/images/{{id}}.png">
            <h3 class="ui-li-heading short">{{short_title}}</h3>
            <h3 class="ui-li-heading long">{{full_title}}</h3>
            <p>
              {{authors}}<br>
              {{conference}}
            </p>
          </a></li>
        {{/list}}
        </ul>
      </div>
{{>footer}}
