<!DOCTYPE html>
<html>
  <head>
    <title>Projects</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h3>Projects</h3>
      </div>
      {{>menu}}
      <div data-role="content">
        <center>
          Below is a select sample of sites and apps using all or parts of wq.
          <br>
          Open-source projects are also listed at
          <a href="https://github.com/powered-by-wq" rel="external">
            github.com/powered-by-wq
          </a>.
          <br>
          <a href="/community">Contact Us</a> to have your wq-powered site listed!
        </center>
        <ul data-role="listview" 
          data-theme="c" data-divider-theme="a" data-filter="true"
          data-filter-placeholder="e.g. android, open source, citizen science">
          <li data-role="list-divider">Projects &amp; Demos</li>
        {{#list}}
          <li data-filtertext="{{#links}}{{icon}} {{label}} {{/links}} {{icon}} {{title}} {{description}} {{#tags_label}}{{.}} {{/tags_label}}"><a href="/projects/{{id}}">
            {{#icon}}
            <img src="/media/{{icon}}">
            {{/icon}}
            {{^icon}}
            <img src="/images/empty.png">
            {{/icon}}
            <h3 style="margin-top:-6px">{{title}}</h3>
            <span class="ui-li-aside">
              {{#links}}
                {{#icon}}
                <img src="/media/{{icon}}">
                {{/icon}}
              {{/links}}
            </span>
            <p class="ui-li-desc">
              {{description}}
              <br>
              {{#tags_label}}<span class="tag">{{.}}</span>{{/tags_label}}
            </p>
          </a></li>
        {{/list}}
        </ul>
      </div>
      <div class="ui-content"></div>
{{>footer}}
